In [5]:
#Pandas Series
import pandas as pd 
#Creating a Series from a List
data  = [1,2,3,4,5,6,7,8]
series = pd.Series(data)
print(series)
# Creating a Series from a Dictionary
dict = {'a':2,'b':4,'c':6,'d':8}
series = pd.Series(dict)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
a    2
b    4
c    6
d    8
dtype: int64

In [6]:
# Custom Index in Series
data  = [10,20,30,40]
i = ['a','b','c','d']
series = pd.Series(data,index = i)
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [8]:
# Pandas DataFrame
# Creating a DataFrame from a Dictionary of Lists
data = {
    'name': ['Krish', 'John', 'Jack'],
    'age': [25, 30, 45],
    'city': ['Bangalore', 'New York', 'Florida']
}
df = pd.DataFrame(data)
print(df)

#Creating a DataFrame from a List of Dictionaries
d = [
    {'name': 'Krish', 'age': 32, 'city': 'Bangalore'},
    {'name': 'John', 'age': 34, 'city': 'Bangalore'},
    {'name': 'Jack', 'age': 32, 'city': 'Bangalore'}
]
df = pd.DataFrame(d)
print(df)

    name  age       city
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida
    name  age       city
0  Krish   32  Bangalore
1   John   34  Bangalore
2   Jack   32  Bangalore